/* navbar */
.navbar-dark {
  background-color: #ff0000;
  opacity: 70%;
}
header img {
  height: 45px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header a:hover {
  background-color: #669b41;
  color: black;
}
header a:active {
  background-color: green;
}
.logo2 {
  align-content: flex-end;
  margin-left: 1200px;
}
.logo3 {
  align-content: flex-end;
  margin-left: 1350px;
  width: 50px;
}
body {
  background-color: #32620e;
}
.carousel-inner {
  height: 100%;
  width: 100%;
  margin-bottom: 350px;
  border-radius: 82px;
  border-color: #ff0000;
}
.carousel-caption > h3 {
  color: #ff0000;
  background-color: #32620e;
}
.carousel-caption > p {
  color: #32620e;
  background-color: #ff0000;
}
.container {
  margin-top: 80px;
}
.merry {
  text-align: center;
  color: #000000;
  font-size: 40px;
  margin-bottom: 70px;
  margin-left: 7%;
  position: absolute;
  top: 10%;
  z-index: 20;
  height: fit-content;
  left: 50%;
  transform: translateX(-86%);
  font-family: "Pacifico", cursive;
}
.merry > button {
  background-color: #32620e;
  color: #ff1616;
  border-radius: 12%;
  border: 2px solid #ff1616;
  align-self: center;
  border-color: #32620e;
}

/* footer */
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #598639;
  color: #ffffff;
  height: 85px;
  position: sticky;
}
.footer2 {
  width: 100%;
  background-color: #32620e;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: sticky;
}
.footer2 > a:hover {
  color: #ffffff !important;
  text-decoration: none;
}
div {
  color: black;
}
.navbar-brand.abs {
  position: absolute;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
