/* navbar */
.navbar-dark {
  background-color: #ff0000;
}
header img {
  height: 45px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header a:hover {
  background-color: #669b41;
  color: black;
}
header a:active {
  background-color: green;
}
.logo2 {
  align-content: flex-end;
  margin-left: 1200px;
}
.logo3 {
  align-content: flex-end;
  margin-left: 1350px;
  width: 50px;
}

body {
  background-color: #32620e;
}
h1{
  color: #000000;
}
/* footer */
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #598639;
  color: #ffffff;
  height: 85px;
  position: sticky;
}
.footer2 {
  width: 100%;
  background-color: #32620e;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.footer2 > a:hover {
  color: #ffffff !important;
  text-decoration: none;
}
div {
  color: black;
}
.navbar-brand.abs {
  position: absolute;
  width: 100%;
  text-align: center;
}
.demo{
  width:400px;
  height:400px;
  font-size:5em;
  float:left;
  text-align:center;
  margin-top: 20%;
  margin-left: 35%;
}
.rainbow{
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}
@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 140px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
}
label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(0, 0, 0);
  transition: 0.4s;
}
label.active::before {
  left: 24px;
  background: #ffffff;
}
body.night {
  background: #000000;
  color: #ffffff;
}​​​​​​​​ 