/* navbar */
.navbar-dark {
  background-color: #ff0000;
}
/* footer */
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #669b41;
  color: #ffffff;
  height: 85px;
  position: sticky;
}
.footer2 {
  width: 100%;
  background-color: #32620e;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.footer2 > a:hover {
  color: #ffffff !important;
  text-decoration: none;
}
div {
  color: black;
}
.navbar-brand.abs {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
